@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&family=Roboto&display=swap');

*{
    margin: 0px;
}

:root{
    --cor-de-fundo: #081226;
    --cor-de-blocos: #142B59;
    --cor-secundaria: #646E78;
    --cor-de-destaque: #FFC800;
    --cor-da-letra: #FFFFF2;
    --fonte-de-texto: 'Roboto', sans-serif;
    --fonte-de-titulo: 'Lato', sans-serif;
    --fonte-de-destaque: 'Dosis', sans-serif;
}

body{
    background-color: var(--cor-de-letra);
    color: black;
    font-family: var(--fonte-de-texto);
}

h1,h2{
    font-family: var(--fonte-de-titulo);
}

menu{
    background-color: var(--cor-de-fundo);
    padding: 35px;
    height: 20px;
}

menu > p{
    text-align: right;
}

menu > p > a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

menu > p > a:hover{
    color: var(--cor-de-destaque);
    transition-duration: 0.3s;
}

main{
    width: 100%;
}

div.apr-titulo-desc{
    height: 70vh;
    background-color: #646E78;
    background-image: url('../imagens/social-media-gc71d97d5f_1920.jpg');
    background-attachment: fixed;
    background-size: cover;
}

div.apr-titulo-desc > h1{
    text-align: center;
    padding-top: 50px;
    color: var(--cor-de-blocos);
    font-size: 4em;
    margin-bottom: 100px;
}

div.apr-titulo-desc p{
    width: 200px;
    text-align: center;
    background-color: var(--cor-de-destaque);
    display: block;
    margin-top: 25px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    font-weight: bold;
}

a.link{
    background-color: var(--cor-de-letra);
    color: #FFFFFF;
    text-decoration: none;
    width: 200px;
}

div.desc-emp-number{
    background-color: var(--cor-de-fundo);
    color: white;
    height: 15vh;
    padding: 20px;
}

div.desc-emp-number > h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

div.our-adverstisements{
    background: url('../imagens/social-g6e679378d_1920.jpg');  
    background-position: top top;
    background-size: cover;    
    background-attachment: fixed;
    color: var(--cor-da-letra);
    height: 65vh;
}

div.our-adverstisements > h1{
    text-align: center;
    font-size: 2.2em;
    color: var(--cor-secundaria);
}

div.info-b{
    font-family: var(--fonte-de-texto);
    font-weight: normal;
    color: #FFC800;
    display: inline-block;
    width: 500px;
    height: 15vh;
    padding-top: 80px;
}

div.info-b > h2{
    margin-top: 40px;
    text-align: center;
    font-size: 3em;
}

div.blog{
    background-color: var(--cor-de-fundo);
    color: white;
    height: 30vh;
}

div.blog > h2{
    text-align: center;
    margin-bottom: 30px;
}

div.blog p{
    border: 1px solid #FFFFF2;
    text-decoration: none;
    color: white;
    width: 200px;
    text-align: center;
    height: 20px;
    border-radius: 20px;
    display: block;
    margin: auto;
    padding: 10px;
}

div.blog a{
    text-decoration: none;
    color: white;
    width: 200px;
}

div.blog p:hover{
    background-color: #FFFFFF;
    color: var(--cor-de-blocos);
    transition-duration: 0.5s;
}

div.social-media{
    height: auto;
    background-color: var(--cor-de-blocos);
    color: white;
}

div.social-media > h1{
    text-align: center;
}

div.info-c{
    color: #FFFFFF;
    display: inline-block;
    width: 500px;
    height: 10vh;
}

#info-cds{
    text-align: left;
    margin-left: 15px;
}

div.info-c > p{
    margin-top: 20px;
    text-align: center;
}

div.info-c i{
    margin-left: 50px;
}

div.info-c a{
    color: #FFFFFF;
    text-decoration: none;
}

div.info-c a:hover{
    color: #d8d8d8;
}