@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&family=Roboto&display=swap');

*{
    margin: 0px;
}

:root{
    --cor-de-fundo: #081226;
    --cor-de-blocos: #142B59;
    --cor-secundaria: #646E78;
    --cor-de-destaque: #FFC800;
    --cor-da-letra: #FFFFF2;
    --fonte-de-texto: 'Roboto', sans-serif;
    --fonte-de-titulo: 'Lato', sans-serif;
    --fonte-de-destaque: 'Dosis', sans-serif;
}

body{
    background-color: var(--cor-de-letra);
    color: black;
    font-family: var(--fonte-de-texto);
}

h1,h2{
    font-family: var(--fonte-de-titulo);
}

menu{
    background-color: var(--cor-de-blocos);
    padding: 35px;
    height: 20px;
}

menu > p{
    text-align: right;
}

menu > p > a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

menu > p > a:hover{
    color: var(--cor-de-destaque);
    transition-duration: 0.3s;
}

main{
    width: 100%;
}

div.apr-titulo-desc{
    height: 70vh;
    background-color: #646E78;
    background-image: url('../imagens/social-media-gc71d97d5f_1920.jpg');
    background-attachment: fixed;
    background-size: cover;
}

div.apr-titulo-desc > h1{
    text-align: center;
    padding-top: 50px;
    color: var(--cor-de-blocos);
    font-size: 2.6em;
}

div.apr-titulo-desc > p{
    width: 250px;
    text-align: center;
    background-color: #FFFFF2;
    display: block;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}

div.desc-emp-number{
    background-color: #142B59;
    color: white;
    height: 5vh;
    padding: 20px;
}